/**
 * Public
 *
 *
 *
 *				                   							    __
 *	                                                           |  |
 *	  __ ___      _____  ___  ___  _ __ ___   ___  ___ ___   __|  | ___ _ ____
 *	 / _` \ \ /\ / / _ \/ __|/ _ \| '_ ` _ \ / _ \/ __/ _ \ / _`  |/ _ \ ' __|
 *	| (_| |\ V  V /  __/\__ \ (_) | | | | | |  __/ (_| (_) | (_|  |  __/  |
 *	\__,_| \_/\_/ \___||___/\___/|_| |_| |_|\___|\___\___/ \__,___|\___|__|
*/
// Define your breakpoint variables
$phone: 576px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

// Media query mixin
@mixin device($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: $phone) {
			@content;
		}
	} @else if $breakpoint == tablet {
		@media (min-width: $phone) and (max-width: $tablet) {
			@content;
		}
	} @else if $breakpoint == laptop {
		@media (min-width: $tablet) and (max-width: $laptop) {
			@content;
		}
	} @else if $breakpoint == desktop {
		@media (min-width: $laptop) and (max-width: $desktop) {
			@content;
		}
	}
}

.toys-container {
	position: relative;
	padding: 0 1rem;

	@include device(tablet) {
		padding: 0;
	}
	@include device(phone) {
		padding: 0;
	}

	.toys-question {
		color: #1c1d1f I !important;
		padding: 1rem 0 !important;
		margin: 0 !important;
		font-size: 34px !important;
		text-align: center;
		font-family: "Playfair Display", Sans-serif;
		font-weight: 600;
		margin-bottom: 25px !important;
	}

	.toys-grid {
		display: grid;
		grid-template-columns: repeat(4, minmax(250px, 1fr));
		gap: 1.6rem;

		@include device(laptop) {
			grid-template-columns: repeat(3, minmax(250px, 1fr));
		}
		@include device(tablet) {
			grid-template-columns: repeat(2, minmax(250px, 1fr));
		}
		@include device(phone) {
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}
		// grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
		// 285px
		.toys-grid-item {
			position: relative;
			cursor: pointer;
			// background-color: #ef4444;
			// background-color: #f07037;
			@include device(tablet) {
				padding: 0;

				// &:nth-of-type(odd) {
				// 	margin-right: 1rem;
				// }

				// &:nth-of-type(even) {
				// }
			}

			@include device(phone) {
				padding: 0;
			}

			.toys-grid-content {
				position: relative;
				display: flex;
				justify-content: center;

				.toys-grid-box {
					overflow: hidden;
					position: relative;
					// border: 1px solid #4b4b4b;
					// background-color: #f07037;
					border: 1px solid #aaaaaa;
					// width: calc(100% - 100px);
					width: 100%;
					height: 150px;
					// transform: skewX(-30deg);
					display: flex;
					justify-content: center;
					align-items: center;

					@include device(tablet) {
						width: 100%;
						transform: skewX(0deg);
						border: 1px solid transparent;
						height: 180px;
					}

					@include device(phone) {
						width: 100%;
						transform: skewX(0deg);
						border: 1px solid transparent;
						height: 180px;
					}

					.toys-item-image {
						position: absolute;
						// transform: skewX(30deg);
						width: 100%;
						height: 100%;
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;

						@include device(tablet) {
							left: 0;
							transform: skewX(0deg);
							width: 100%;
						}

						@include device(phone) {
							left: 0;
							transform: skewX(0deg);
							width: 100%;
						}
					}

					.toys-item-description {
						// transform: skewX(30deg);
						text-align: center;
						padding: 0 35px;
						z-index: 1;

						@include device(tablet) {
							transform: skewX(0deg);
						}

						@include device(phone) {
							transform: skewX(0deg);
						}

						p.toys-item-description-text {
							display: flex;
							font-size: 12px !important;
							color: #111111;
							line-height: 24px;
							letter-spacing: 0.6px;
							font-weight: 400;
							margin: 0 !important;
							padding: 0 !important;
						}
					}
					.toys-item-image-background {
						background-color: #f07037;
						opacity: 0;
						position: absolute;
						transition: all 150ms ease-in-out;
						top: 0;
						width: 100%;
						height: 150px;
						@include device(tablet) {
							height: 100%;
						}

						@include device(phone) {
							height: 100%;
						}
					}
					.toys-item-image-overlay {
						background-color: #f07037;
						opacity: 0;
						transition: opacity 0.3s;
						position: absolute;
						top: 0;
						width: 100%;
						height: 150px;
						@include device(tablet) {
							height: 100%;
						}

						@include device(phone) {
							height: 100%;
						}
					}
				}

				.toys-grid-content-box {
					border: 1px solid #aaaaaa;

					// margin-bottom: 2rem;
				}
			}

			.toys-grid-footer {
				position: relative;
				padding: 0.5rem 0.2rem;

				.toys-grid-item-heading {
					line-height: 1.5;
					text-align: left;
					font-weight: bold;
					color: #4b4b4b;
					font-family: industrybold, industrymedium,
						"Open Sans Regular", sans-serif;
					font-size: 16px !important;
					letter-spacing: 0.6px;
					max-width: 285px;
					margin-bottom: 0 !important;

					@include device(tablet) {
						text-align: center;
						max-width: 100%;
					}

					@include device(phone) {
						text-align: center;
						max-width: 100%;
					}
				}

				@include device(tablet) {
					margin-top: 10px;
				}

				@include device(phone) {
					margin-top: 10px;
				}
			}

			.toys-grid-selection {
				position: relative;
				width: 100%;
				padding: 0 0.2rem;
				padding-bottom: 0.5rem;

				p.toys-item-selection-text {
					display: flex;
					font-size: 12px !important;
					color: #111111;
					line-height: 24px;
					letter-spacing: 0.6px;
					font-weight: 400;
					margin: 0 !important;
					padding: 0 !important;
					margin-bottom: 1rem !important;
				}
			}

			&:hover {
				.toys-grid-content {
					.toys-grid-box {
						.toys-item-description {
							p.toys-item-description-text {
								color: #fff;
							}
						}

						.toys-item-image-overlay {
							opacity: 1;
							mix-blend-mode: multiply;
						}

						.toys-item-image-background {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.toys-grid-selection {
		.toys-select-btn {
			line-height: 20px;
			position: relative;
			font-family: industrybold, "Open Sans Bold", sans-serif;
			font-weight: 700;
			font-size: 16px;
			color: white;
			letter-spacing: 0.6px;
			background-color: #f07037;
			height: 50px !important;
			border: 0 !important;
			padding: 18px 32px 18px 48px !important;
			display: inline-block;
			text-decoration: none !important;
			transition: border-color 0.4s;
			display: inline-flex;
			align-items: center;

			// @include device(tablet) {
			// 	background-color: transparent;
			// 	color: #f07037;
			// }

			// @include device(phone) {
			// 	background-color: transparent;
			// 	color: #f07037;
			// }

			&:hover {
				background-color: black;
				transition: background-color 0.4s;
			}
			&:hover::after {
				border-color: black transparent transparent transparent;
				transition: border-color 0.4s;
			}
			&:active {
				background-color: rgb(41, 41, 41);
				transition: background-color 0s;
			}
			&:active::after {
				border-color: rgb(41, 41, 41) transparent transparent
					transparent;
				transition: border-color 0s;
			}
			&:focus {
				outline: 0;
			}

			&::after {
				position: absolute;
				content: "";
				top: 0;
				left: 100%;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 50px 33px 0 0;
				border-color: #f07037 transparent transparent transparent;
				cursor: pointer;
				// @include device(tablet) {
				// 	display: none;
				// }

				// @include device(phone) {
				// 	display: none;
				// }
			}

			&:hover::after {
				border-color: black transparent transparent transparent;
			}
		}
	}

	.toys-flex {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 0;

		a.toys-start-btn {
			line-height: 20px;
			position: relative;
			font-family: industrybold, "Open Sans Bold", sans-serif;
			font-weight: 700;
			font-size: 16px;
			color: white;
			letter-spacing: 0.6px;
			background-color: #f07037;
			height: 50px !important;
			border: 0 !important;
			padding: 18px 32px 18px 48px !important;
			display: inline-block;
			text-decoration: none !important;
			transition: border-color 0.4s;
			display: inline-flex;
			align-items: center;

			&:hover {
				background-color: black;
				transition: background-color 0.4s;
			}
			&:hover::after {
				border-color: black transparent transparent transparent;
				transition: border-color 0.4s;
			}
			&:active {
				background-color: rgb(41, 41, 41);
				transition: background-color 0s;
			}
			&:active::after {
				border-color: rgb(41, 41, 41) transparent transparent
					transparent;
				transition: border-color 0s;
			}
			&:focus {
				outline: 0;
			}

			&::after {
				position: absolute;
				content: "";
				top: 0;
				left: 100%;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 50px 33px 0 0;
				border-color: #f07037 transparent transparent transparent;
				cursor: pointer;
			}

			&:hover::after {
				border-color: black transparent transparent transparent;
			}
		}

		a.toys-reset-btn {
			line-height: 20px;
			position: relative;
			font-family: industrybold, "Open Sans Bold", sans-serif;
			font-weight: 700;
			font-size: 16px;
			color: white;
			letter-spacing: 0.6px;
			background-color: #f07037;
			height: 50px !important;
			border: 0 !important;
			padding: 18px 32px 18px 48px !important;
			display: inline-block;
			text-decoration: none !important;
			transition: border-color 0.4s;
			display: inline-flex;
			align-items: center;

			@include device(tablet) {
				background-color: transparent;
				color: #f07037;
			}

			@include device(phone) {
				background-color: transparent;
				color: #f07037;
			}

			&:hover {
				background-color: black;
				transition: background-color 0.4s;
			}
			&:hover::after {
				border-color: black transparent transparent transparent;
				transition: border-color 0.4s;
			}
			&:active {
				background-color: rgb(41, 41, 41);
				transition: background-color 0s;
			}
			&:active::after {
				border-color: rgb(41, 41, 41) transparent transparent
					transparent;
				transition: border-color 0s;
			}
			&:focus {
				outline: 0;
			}

			&::after {
				position: absolute;
				content: "";
				top: 0;
				left: 100%;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 50px 33px 0 0;
				border-color: #f07037 transparent transparent transparent;
				cursor: pointer;
				@include device(tablet) {
					display: none;
				}

				@include device(phone) {
					display: none;
				}
			}

			&:hover::after {
				border-color: black transparent transparent transparent;
			}
		}
	}

	.toys-banner-container {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		overflow: hidden;
		min-height: 470px;
		z-index: 1;

		@include device(tablet) {
			min-height: 350px;
		}
		@include device(phone) {
			min-height: 320px;
		}

		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			height: 470px;
			width: 100%;
			right: -40px;
			bottom: 0;
			background-image: url("../../assets/img/base.png");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: right;

			@include device(tablet) {
				right: -40px;
				height: 300px;
			}

			@include device(phone) {
				opacity: 0.25;
				height: 100%;
				bottom: -30px;
			}
		}

		&.opened {
			display: none;
		}

		.toys-banner-content {
			position: relative;
			width: 100%;

			.toys-banner-title {
				color: #1c1d1f;
				font-family: "Playfair Display", Sans-serif;
				font-size: 42px;
				font-weight: 600;
				line-height: 52px;
				max-width: 40%;
				text-transform: uppercase;
				margin-bottom: 25px;

				@include device(laptop) {
					max-width: 30%;
				}

				@include device(tablet) {
					font-size: 38px;
					line-height: 34px;
					max-width: 60%;
				}

				@include device(phone) {
					line-height: 34px;
					font-size: 32px;
					max-width: 100%;
					margin-bottom: 15px;
				}
			}

			.toys-banner-tagline {
				color: #1c1d1f;
				max-width: 40%;
				font-family: "Lato", Sans-serif;
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 32px;

				@include device(laptop) {
					max-width: 40%;
				}

				@include device(tablet) {
					max-width: 60%;
				}

				@include device(phone) {
					max-width: 85%;
				}
			}

			a.toys-start-btn {
				line-height: 20px;
				position: relative;
				font-family: industrybold, "Open Sans Bold", sans-serif;
				font-weight: 700;
				font-size: 16px;
				color: white;
				letter-spacing: 0.6px;
				background-color: #f07037;
				height: 50px !important;
				border: 0 !important;
				padding: 18px 32px 18px 48px !important;
				display: inline-block;
				text-decoration: none !important;
				transition: border-color 0.4s;
				display: inline-flex;
				align-items: center;

				&:hover {
					background-color: black;
					transition: background-color 0.4s;
				}
				&:hover::after {
					border-color: black transparent transparent transparent;
					transition: border-color 0.4s;
				}
				&:active {
					background-color: rgb(41, 41, 41);
					transition: background-color 0s;
				}
				&:active::after {
					border-color: rgb(41, 41, 41) transparent transparent
						transparent;
					transition: border-color 0s;
				}
				&:focus {
					outline: 0;
				}

				&::after {
					position: absolute;
					content: "";
					top: 0;
					left: 100%;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 50px 33px 0 0;
					border-color: #f07037 transparent transparent transparent;
					cursor: pointer;
				}

				&:hover::after {
					border-color: black transparent transparent transparent;
				}
			}
		}
	}
}
